<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jokerkiki.demo.dao.DemoConfigDao">
	<resultMap id="BaseResultMap" type="com.jokerkiki.demo.entity.DemoConfig">
		<result column="id" property="id" />
		<result column="config" property="config" />
		<result column="configValue" property="configValue" />
	</resultMap>

	<parameterMap id="DemoConfig" type="com.jokerkiki.demo.entity.DemoConfig"/>

	<sql id="Base_Column_List">
		id, config, configValue
	</sql>

	<select id="findById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from s_config
		where id = #{id}
	</select>

</mapper>
